<!DOCTYPE html>
<html>
    <head>
        <title>AMZ</title>
    </head>
    <body>
        <div class="grid-container">
            <header>
                <div>
                    <a href="index.html">AMZ</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <ul>Product 1</ul>
                <ul>Product 2</ul>
                <ul>Product 3</ul>
                <ul>Product 4</ul>
            </main>
            <footer>
                All right resevered.
            </footer>
        </div>
    </body>
</html>