<!DOCTYPE html>
<html>
    <head>
        <title>AMZ</title>
    </head>
    <body>
        <div class="grid-container">
            <header>
                <div>
                    <a href="index.html">AMZ</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign IN</a>
                </div>
            </header>
            <main>

            </main>
            <footer>

            </footer>
        </div>
    </body>
</html>